<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<lable>Search by name: </lable>
<input type="search" placeholder="Search" aria-label="Search" id="input">
<button type="submit" id="btnSearch">Search</button>
<br>

<table id = "blogs" border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Content</th>

    </tr>
    </thead>
    <tbody id="t-body">

    </tbody>

</table>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnLoad">Load</button>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#btnSearch').click(function (e) {
            let search = document.getElementById("input").value;
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin':'*'
                },
                type: 'GET',
                url: 'http://localhost:8080/search?search=' + search,
                dataType: 'json',
                success: function (page) {
                    let result ="";
                    for (let i=0; i<page.content.length; i++) {
                        result += "<tr>";
                        result += "<td>" + (i + 1) + "</td>";
                        result += "<td>" + page.content[i].name + "</td>";
                        result += "<td>" + page.content[i].content + "</td>";
                        result += "<td>"+"</td>";
                        result += "<td>"+"</td>";
                        result += "</tr>";
                    }
                    $('#t-body').html(result)

                }
            })
        });
    });
    let result = "";
    let page = 0;
    $.ajax({
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin':'*'
        },
        type : 'GET',
        url : "http://localhost:8080/blog-list/",
        dataType :'json',
        success: function (page) {

            for (let i=0; i<page.content.length; i++) {
                result += "<tr>";
                result += "<td>" + (i + 1) + "</td>";
                result += "<td>" + page.content[i].name + "</td>";
                result += "<td>" + page.content[i].content + "</td>";
                result += "</tr>";
            }
            $("#t-body").html(result);
        }
    });

    $(document).ready(function () {
        $('#btnLoad').click(function () {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin':'*'
                },
                type: 'GET',
                url: 'http://localhost:8080/blog-list/?page=' + (++page),
                dataType: 'json',
                success: function (page) {
                    for (let i=0 ; i<page.content.length; i++){
                        result += "<tr>";
                        result += "<td>" + (i + 1) + "</td>";
                        result += "<td>" + page.content[i].name + "</td>";
                        result += "<td>" + page.content[i].content + "</td>";
                        result += "</tr>";
                    }
                    $('#t-body').html(result);
                }
            })
        })
    });

</script>
    </body>
</html>