<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/return}" method="POST" novalidate="novalidate">
    Rent Code:
    <input name="rentCode" type="text"/>
    <input type="submit" value="Return"/>
</form>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Remaining Amount</th>
        <th>Rent code</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.quantity}"></td>
        <td th:text="${book.rentCode}"></td>
        <td>
            <a th:href="@{rent(rentCode=${book.rentCode})}">Rent</a>

        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>
    <span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>
    <a th:href="@{'/'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>
</div>
<div class="notify">
    <div th:if="${messenger}">
        <h2 th:text="${messenger}"></h2>
    </div>
</div>
</body>
</html>